
<main>


    <div class="row container">
        <div class="col-xl-4 col-md-6 col-sm-10 mx-auto">

            <!-- Profile widget -->
            <div class="bg-white shadow rounded overflow-hidden">
                <div class="px-4 pt-0 pb-4 bg-dark">
                    <div class="media align-items-end profile-header">
                        <div class="profile mr-3">
                            <img th:src="*{'data:image/png;base64,'+image}"
                                 alt="" width="200" class="img-rounded"/>

                            <div class="media-body mb-5 text-white">
                                <h4 class="mt-0 mb-0" th:text="${user.fullName}"></h4>
                                <p class="small mb-4" th:text="${user.email}"></p>
                            </div>
                        </div>
                    </div>

                        <div class="row container">
                            <h4 class="mb-3">Recent posts</h4>

                            <th:block th:each="article : ${articles}">
                                <div class="col-md-6">
                                    <article>

                                        <p th:text="${article.summary}"></p>

                                        <small class="author" th:text="${article.author.fullName}"></small>
                                        <p>
                                            <a class="btn btn-default btn-xs" th:each="tag:${article.tags}"
                                               th:href="@{/tag/{name}(name=${tag.name})}" th:text="${tag.name}"></a>
                                        </p>


                                        <footer>
                                            <div class="pull-right">
                                                <a class="btn btn-default btn-xs"
                                                   th:href="@{/article/{id}(id=${article.id})}">Read more &raquo;</a>
                                            </div>
                                        </footer>
                                    </article>
                                </div>
                            </th:block>
                        </div>
                </div>
            </div><!-- End profile widget -->

        </div>
    </div>

</main>






